html, body{
    background-color: rgb(244, 244, 244);
}

#fundo{
    width: 1300px;
    background: rgb(255, 255, 255);
    margin:auto; 
}

img{
    height: 230px;
}

#logo{
    padding-top: 10px;
    float:right;
    height: 86px;
    width: 280px;
    padding-right: 30px;
}

h1{
    font-family: "MontserratSemiBold";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-top: 20px;
    color: rgba(242, 139, 148, 1);
    font-weight: bold;
    margin-top: 0px;

}

h2{
    font-family: "MontserratRegular";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 22px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 5px;
    color: #3E569E;

}

h3{
    font-family: "MontserratSemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 39px;
    padding-top: 20px;
    color: #FBCF2E;
}

h4{
    font-family: "MontserratSemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #3E569E;
    text-align: center;
    padding-bottom: 20px;
}

p{
    font-family: "MontserratRegular";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    color: #F28B94;
    text-align: center;
    padding-bottom: 30px;
}

#artistaRevelacao{
    padding-bottom: 80px;
    width: 200px;
}

#melhorAlbum{
    font-size: 22px;
    width: 200px;
    padding-top: 20px;
}


.clique{
    font-family: "MontserratRegular";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #3E569E;
    width: 160px;
    padding-left: 40px;
}

.fa-play{
    color: #F28B94;
}

.img{
    display: inline-block;
    margin-left: 80px;
}

.txt{
    display: inline-block;
    margin-left: 20px;
}

i{
    position: absolute;
}

.caixa{
    display: inline-block;
    margin-left: 50px;
}

footer{
    padding-top: 20px;
    background-color: #3E569E;
    height: 128px;
}


@font-face {
    font-family: "MontserratSemiBold";
    src: url(./fontes/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "MontserratRegular";
    src: url(./fontes/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "MontserratBold";
    src: url(./fontes/Montserrat-Bold.ttf);
}

@media (max-width: 600px) {
    #fundo{
        width: 100%;
        background: rgb(255, 255, 255);
        padding-top: 30px;
    }

    img{
        height: 170px;
    }
    
    h1{
        font-family: "MontserratBold";
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 20px;
        text-align: center;
        padding-top: 20px;
        color: rgba(242, 139, 148, 1);
        font-weight: bold;
        margin-top: 0px;
    
    }
    
    h2{
        font-family: "MontserratRegular";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 22px;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 5px;
        color: #3E569E;
    
    }
    
    h3{
        font-family: "MontserratSemiBold";
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 39px;
        padding-top: 20px;
        color: #FBCF2E;
    }
    
    h4{
        font-family: "MontserratSemiBold";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #3E569E;
        width: 200px;
        padding-bottom: 20px;
        
    }
    
    p{
        font-family: "MontserratRegular";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #F28B94;
        text-align: center;
        padding-bottom: 30px;
    }
    
    
    .clique{
        font-family: "MontserratRegular";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #3E569E;
        width: 100px;
 
    }
    
    .player{
        padding-bottom: 0px;
    }
    
 

    
    .img{
        display: inline-block;
        padding-left: 5px;
        padding-right: 0px;        
        margin: 0px;
    }
    
    .txt{
        display: inline-block;
        padding-left: 20px;
        padding-right: 0px;
        margin: 0px;
    }
    
    i{
        position: absolute;
    }
    
    .caixa{
        display: inline-block;
        margin-left: 20px;
        padding-bottom: 20px;
    }

    footer{
        padding-top: 20px;
        background-color: #3E569E;
        height: 128px;
    }

    #logo{
        padding-top: 10px;
        float:right;
        height: 86px;
        width: 280px;
    }
    
    #melhorAlbum{
        font-size: 18px;
        width: 200px;
        padding-top: 20px;
    }
}




