body, ul{
    margin: 0px;
    padding: 0px;
  }



  
  #header{
    box-sizing: border-box;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: rgb(62, 86, 158);
  }
  
  #menu{
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  .pure-menu a{
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
    padding: 0.5rem;
    font-size: 20px;
    padding-top: 20px;
    font-size: 20px;
  }
  
  .pure-menu a:hover, li a:hover{
    background-color:rgba(43, 60, 113, 1);
    border: none;
    color: rgb(150, 171, 235);
  }
#menu2{
    height: 60px;
  }
  
#menu3{
    position: relative;
    padding-right: 0px;
    background-color: transparent;
    padding-left: 0px;;
   
}


.children{
    margin-left: 80px;
    background-color: rgba(43, 60, 113, 1);
  }
  
  #logo {
    height: 70px;
    width: 227px;
  }
  
  #btn-mobile{
    display: none;
  }
  
  @media (max-width: 600px) {
    
      #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 80px;
      right: 0px;
      background: rgb(62, 86, 158);;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
      }
  
      #nav.active #menu {
      height: calc(100vh - 80px);
      visibility: visible;
      overflow-y: auto;
      }
  
      #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(255, 94, 94, 0.05);
      }
      
      #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
      color: rgb(255, 255, 255);
      }
  
      #hamburger {
      border-top: 2px solid;
      width: 20px;
      }
  
      #hamburger::after, #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
      }
  
      #nav.active #hamburger{
        border-top-color: transparent;
      }
  
      #nav.active #hamburger::before{
        transform: rotate(135deg);
      }
  
      #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }

      #nav{
        padding-top: 40px;
      }

      #menu3{
        position: relative;
        padding-right: 16px;
        background-color: transparent;
        padding-left: 16px;;
      }
}