/*
* CSS MENU
*/


#Logo{
    width: 250px;
    height: 77px;
    margin: 10px;
}

#menu{padding-top: 50px;}


.home-menu {
    background: rgb(62, 86, 158);
}

.home-menu a{
    color: #ffffff;
}

.home-menu li a:hover,
.home-menu li a:focus, 
.home-menu ul a:hover{

    background-color:rgba(43, 60, 113, 1) ;
    border: none;
    color: rgb(150, 171, 235);
}


.home-menu {
    text-align: left;
}
    .home-menu ul {
        font-size: 20px;
        float:right;
        padding-top: px;
        text-size-adjust: 2px;
    }

.children{
    background-color: rgba(43, 60, 113, 1);
}

body{position: relative;
width: 1440px;
height: 4224px;

background: #FFFFFF;
}

h1{ position: relative;
    top: 119px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 60px;
  
    color: #F28B94;
}

h2{ position:relative;
    text-align: center;
    top:730px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;

    
    color: #FBCF2E;}

h4{
    position: absolute;
    text-align: justify;
    top: 227px;
    left: 233px;
    right: 233px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
  
    
    color: #737373;
}

.Nomesartistas{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
text-align: center;
color: #FBCF2E;
}

#FrankSinatra{
    position: absolute;
width: 650px;
height: 290px;
left: 560px;
top: 950px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #737373;

}
#ImagemSinatra{

position: absolute;
width: 264px;
height: 264px;

right:60px;
top: 0px;

}

#MichaelJackson{
    position: absolute;
    width: 627px;
    height: 300px;
    left: 250px;
    top: 1804px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #737373;
    
}
#ImagemMichael{
   }

#Beethoven{
    position: absolute;
    width: 660px;
    height: 194px;
    left: 553px;
    top: 2173px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #737373;
}
#ImagemBeethoven{
   
}


#ElvisPresley{
    position: absolute;
width: 629px;
height: 311px;
left: 248px;
top: 2548px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #737373;
    }

#ImagemElvis{
 
}

#musicaartistas{
    position: absolute;
width: 686px;
height: 120px;
left: 377px;
top: 2815px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
text-align: center;

color: #FBCF2E;
}

#maisgeneros{
    position: absolute;
width: 686px;
height: 120px;
left: 377px;
top: 3490px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
text-align: center;

color: #FBCF2E;

}
